.container{
    display: flex;
    align-items:center;
    justify-content: center;
}

.userContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.user{
    width: 300px;
    height: 300px;
    text-align: center;
    background: #505f70;
    margin:20px;
    margin-left: 100px;   
    border-radius:15px;
}


.userInfo img {
 width: 150px;
 height: 150px;
 border-radius: 20px;
 padding-top: 10px;
}

.userName{
    color: white;
}

.userAbout{
    color:white;
    font-size: 12px;

}

.preloader{
    display: flex;
    justify-content: center;
}
.myButton {
	box-shadow:inset 0px -1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 29px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}